main h1 {
	font-family: 'Arial', sann-serif;
    font-size: 40px;
    color: #000;
}

main p {
	font-family: 'Arial', sann-serif;
    font-size: 25px;
    color: green;
}

.highlight {
    transition: .5s;
}

.highlight span {
    transition: .5s;
}